<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>790468505940-6ff7u16o2pvrjsv1st6ik9m2qb8l1en8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790468505940-6ff7u16o2pvrjsv1st6ik9m2qb8l1en8</string>
	<key>API_KEY</key>
	<string>AIzaSyCqyqvO9Klpid_PTCNxDNRGIHwo61WKDes</string>
	<key>GCM_SENDER_ID</key>
	<string>790468505940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aloalabs.Facebook-Login</string>
	<key>PROJECT_ID</key>
	<string>facebook-login-c5a69</string>
	<key>STORAGE_BUCKET</key>
	<string>facebook-login-c5a69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:790468505940:ios:6f2f297460f43c52</string>
	<key>DATABASE_URL</key>
	<string>https://facebook-login-c5a69.firebaseio.com</string>
</dict>
</plist>